<div id="react-app-root"></div>
<script defer type="module" src="{{ "react-app.bundle.js" | asset_url }}"></script>

{% schema %}
{
  "name": "React App",
  "presets": [
    {
      "name": "React App"
    }
  ]
}
{% endschema %}
